{% extends "base.html" %}

{% block content %}
<div class="container">

  <header class="site-header">
    <h1 class="site-name">{{ config.extra.author }}</h1>
  </header>

  <main>

    {# Intro #}
    <section class="resume-entry">
      <div>
        <p class="tagline">{{ section.extra.intro.tagline }}</p>
      </div>
      <div class="job-description">
        {{ section.extra.intro.description | markdown | safe }}
        <ul>
          {% for bullet in section.extra.intro.bullets %}
          <li>{{ bullet.text | markdown | safe }}</li>
          {% endfor %}
        </ul>
      </div>
    </section>

    {# Career entries #}
    {% for entry in section.extra.work %}

      {% if entry.new_company %}
      <h2 class="company-name">{{ entry.company }}</h2>
      {% endif %}

      <article class="resume-entry">
        <div>
          <h3 class="job-title">{{ entry.title }}</h3>
          {% if entry.date_range %}
          <p class="date-range"><time>{{ entry.date_range }}</time></p>
          {% endif %}
        </div>
        <div class="job-description">
          {{ entry.description | markdown | safe }}
          {% if entry.bullets %}
          <ul>
            {% for bullet in entry.bullets %}
            <li>{{ bullet | markdown | safe }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if entry.description2 %}
          {{ entry.description2 | markdown | safe }}
          {% endif %}
          {% if entry.bullets2 %}
          <ul>
            {% for bullet in entry.bullets2 %}
            <li>{{ bullet | markdown | safe }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </article>

    {% endfor %}

  </main>

</div>
{% endblock %}
