{% extends "base.html" %}

{% block title %}hogepodge - portfolio{% endblock %}
{% block description %}Writing and Presentation Portfolio for Chris Hoge{% endblock %}

{% block content %}
<div class="container">

  <header class="site-header">
    <h1 class="site-name">Chris Hoge</h1>
  </header>

  <main>

    <section class="resume-entry">
      <div>
        <p class="tagline">Developer Relations and Open Source Community Management</p>
      </div>
      <div class="job-description">
        <p>
          Open source developer advocate and community manager with over ten years of experience
          in building infrastructure and AI communities, with a focus on:
        </p>
        <ul>
          <li>Developing content to support the developer experience, from beginner to expert.</li>
          <li>
            Supporting community and ecosystem growth by creating collaborative spaces for
            developers to build and share their work.
          </li>
          <li>Creating a virtuous cycle where developer feedback informs future product improvements.</li>
        </ul>
      </div>
    </section>

    <h2 class="company-name">Work Samples</h2>

    <article class="resume-entry">
      <div>
        <h3 class="job-title">Modular</h3>
      </div>
      <div class="job-description">
        <p>
          <a href="https://www.modular.com/blog-all">Managing editor for the Modular Blog</a>,
          responsible for scheduling, editing, and publishing technical and marketing articles
          from Modular team members and guest contributors.
        </p>
        <ul>
          <li>
            <a href="https://www.modular.com/blog/introducing-max-24-6-a-gpu-native-generative-ai-platform">
              MAX 24.6 Release Announcement
            </a>
          </li>
          <li>
            <a href="https://www.modular.com/blog/a-brief-guide-to-the-mojo-n-body-example">
              A brief guide to the Mojo n-body example
            </a>
          </li>
        </ul>
        <p>
          <a href="https://www.youtube.com/@modularinc">Re-launched the Modular YouTube channel</a>,
          with a focus on community events and technical content.
        </p>
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=ypXPtOSxWzM">
              Introduction to Programming GPUs using Custom Operations with MAX - Part 1: Simple Custom Op
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=2S6SEg0qyOw">
              Introduction to Programming GPUs using Custom Operations with MAX - Part 2: Vector Addition
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=694uegmao1o">
              Introduction to Programming GPUs using Custom Operations with MAX - Part 3: The Mandelbrot Set
            </a>
          </li>
        </ul>
      </div>
    </article>

    <article class="resume-entry">
      <div>
        <h3 class="job-title">Label Studio</h3>
      </div>
      <div class="job-description">
        <p>Blog posts</p>
        <ul>
          <li>
            <a href="https://labelstud.io/blog/interactive-ocr-with-tesseract-and-label-studio/">
              Interactive OCR with Tesseract and Label Studio
            </a>
          </li>
          <li>
            <a href="https://labelstud.io/blog/using-text-prompts-for-image-annotation-with-grounding-dino-and-label-studio/">
              Using Text Prompts for Image Annotation with Grounding DINO and Label Studio
            </a>
          </li>
          <li>
            <a href="https://labelstud.io/blog/segment-anything-in-hugging-face-spaces/">
              Label Studio x Segment Anything in Hugging Face Spaces
            </a>
          </li>
          <li>
            <a href="https://labelstud.io/blog/get-started-using-segment-anything/">
              Getting Started Using Segment Anything with Label Studio
            </a>
          </li>
        </ul>
        <p>Newsletters</p>
        <ul>
          <li><a href="https://labelstud.io/blog/december-2023-community-news/">December 2023</a></li>
          <li>
            <a href="https://labelstud.io/blog/november-2023-community-newsletter-large-taxonomies-in-label-studio-1-10-0/">
              November 2023
            </a>
          </li>
          <li><a href="https://labelstud.io/blog/september-2023-community-news/">September 2023</a></li>
        </ul>
      </div>
    </article>

    <article class="resume-entry">
      <div>
        <h3 class="job-title">OctoML and Apache TVM</h3>
      </div>
      <div class="job-description">
        <p>
          <a href="https://tvmconf.hogepodge.com">Produced TVMConf</a>, the annual Apache TVM User
          Conference, in 2021 and 2020.
          <a href="https://www.youtube.com/playlist?list=PL_4zDggB-DBpynCEnC9hV-1euZrP3xDRK">
            A full playlist of the 2021 conference is available on YouTube
          </a>.
        </p>
        <ul>
          <li>
            <a href="https://youtu.be/grlIOVGNNVw">TVMConf 2020 - An Introduction to TVM</a>
          </li>
          <li>
            <a href="https://github.com/apache/tvm-rfcs/blob/main/rfcs/0027-formalize-documentation-organization.md">
              RFC to redesign the TVM documentation platform
            </a>
          </li>
          <li>
            <a href="https://web.archive.org/web/20211130222433/https://tvm.apache.org/docs/tutorial/index.html">
              Updates to TVM Tutorials
            </a>
          </li>
        </ul>
      </div>
    </article>

    <article class="resume-entry">
      <div>
        <h3 class="job-title">Tigera</h3>
      </div>
      <div class="job-description">
        <p>
          <a href="https://www.tigera.io/blog/author/chrishoge/">
            Blog posts on using Calico as a CNI provider
          </a>
        </p>
      </div>
    </article>

    <article class="resume-entry">
      <div>
        <h3 class="job-title">OpenStack Foundation</h3>
      </div>
      <div class="job-description">
        <ul>
          <li>
            <a href="https://www.openstack.org/use-cases/containers/leveraging-containers-and-openstack/">
              Primary author, Leveraging OpenStack and Containers Whitepaper
            </a>
          </li>
          <li>
            <a href="https://www.openstack.org/use-cases/containers/leveraging-containers-and-openstack/">
              Project Coordinator, The Crossroads of Cloud and HPC: OpenStack for Scientific Research
            </a>
          </li>
          <li>
            <a href="https://youtu.be/kO7qJKPgxS0">
              KubeCon 2019 Barcelona - Building a Controller Manager for Your Cloud Platform
            </a>
          </li>
          <li>
            <a href="https://youtu.be/Nzq2S53nk9U">
              OpenStack Summit 2019 - OpenStack Ironic and Bare Metal Infrastructure
            </a>
          </li>
        </ul>
      </div>
    </article>

    <article class="resume-entry">
      <div>
        <h3 class="job-title">University of Oregon</h3>
      </div>
      <div class="job-description">
        <p>
          <a href="https://www.dropbox.com/scl/fi/6c5zsffd9qgaoe9uegyby/ACISS-progress-Y2-Y3.pdf?rlkey=9v7an067vsaapkdy3dok37iov&st=p9eh3zh1&dl=0">
            Year 2/Year 3 ACISS Progress Report for the National Science Foundation
          </a>
        </p>
      </div>
    </article>

  </main>

</div>
{% endblock %}
